<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wedding Planner Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <style>
        .container{
            width: 900px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Welcome to the Wedding Planner</h3> 
        <a href="/Logout">Logout</a>
        <table>
            <tr>
                <th>Wedding</th>
                <th>Date</th>
                <th>Guest</th>
                <th>Action</th>
            </tr>
            @foreach(var item in @ViewBag.allWeddings) 
            {
                <tr>
                    <td><a href="/Wedding/@item.id">@item.wedder_one & @item.wedder_two</a></td>
                    <td>@item.date.ToString("MMM dd, yyyy")</td>
                    <td>@item.Reservation.Count</td>
                    @if(@item.usersid == @ViewBag.userInfo.id)
                        {
                    <td>
                        <form action="DeleteWedding" method="post">
                            <input type="hidden" name="weddingID" value=@item.id>
                            <input type='submit' value='Delete'>
                        </form>
                    </td>
                        }
                    else 
                    {
                        bool RSVP = false;
                        @foreach(var data in @item.Reservation)
                        {
                            @if(@ViewBag.userInfo.id == @data.usersid)
                            {
                                RSVP = true;
                        <td>
                            <form action="DeleteRSVP" method="post">
                                <input type="hidden" name="weddingID" value=@item.id>
                                <input type='submit' value='Un-RSVP'>
                            </form>
                        </td>
                            }
                        }
                        @if(RSVP == false)
                        {
                        <td>
                            <form action="AddRSVP" method="post">
                                <input type="hidden" name="weddingID" value=@item.id>
                                <input type='submit' value='RSVP'>
                            </form>
                        </td>
                        }
                    }
                </tr>
            }
        </table>
        <a href="/PlanWedding">New Wedding</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>